In [13]:
import pandas
data = pandas.read_csv('titanic.csv', index_col='PassengerId')
m=0
f=0
#print(data)
for i in data["Sex"]:
    if i=="male":
        m+=1
    else:
        f+=1
print(m,f)

577 314

In [17]:
s=0
f=577+314
for i in data["Survived"]:
    if i==1:
        s+=1
print(100*float(s)/f)

38.38383838383838

In [32]:
num=0
su=0

for i in data["Pclass"]:
    if i==1:
        num+=1
print(num)
print(float(num)/(577+314))

216
0.24242424242424243

In [88]:
su=0
nu=0
print(data["Age"].mean())
print(data.median()["Age"])

23.600639730639728
24.0

In [49]:
data.corr("pearson",891)

          Survived    Pclass       Age     SibSp     Parch      Fare
Survived  1.000000 -0.338481  0.012439 -0.035322  0.081629  0.257307
Pclass   -0.338481  1.000000 -0.359728  0.083081  0.018443 -0.549500
Age       0.012439 -0.359728  1.000000 -0.182282 -0.045272  0.135707
SibSp    -0.035322  0.083081 -0.182282  1.000000  0.414838  0.159651
Parch     0.081629  0.018443 -0.045272  0.414838  1.000000  0.216225
Fare      0.257307 -0.549500  0.135707  0.159651  0.216225  1.000000

In [110]:
import numpy as np
a=np.linspace(0,0,891)
j=0
for i in data["Sex"]:
    if(i=="female"):
        a[j]=1
    j+=1
j=0
dic={}
for i in data["Name"]:
    if a[j]==1:
       # print(i)
        c=i.find(". ")
        d=i.find(" ",c+2)
        if(d==-1):
            d=len(i)
        name=i[c+2:d]
        if not (name in dic):
            dic[name]=1
        else:
            dic[name]+=1
       # print(c,end="\n\n")
    j+=1
for i in dic:
    print(i,"    ",dic[i])

John      6
Laina      1
Jacques      1
Oscar      1
Nicholas      1
Marguerite      1
Elizabeth      6
Hulda      1
(Mary      1
Julius      1
Fatima      1
Anna      9
Torborg      1
Carl      1
Ellen      4
William      13
Mary      9
Augusta      3
Jamila      1
Johan      1
Simonne      1
Margaret      6
Bridget      2
Josef      1
Henry      3
Lizzie      1
Emily      2
Constance      2
Amelie      1
(Elizabeth      2
Erna      1
Lillian      2
Brigdet      1
Bertha      4
Karl      1
Mabel      2
Matilda      1
Hileni      1
Katriina      1
Malake      1
Ellis      1
Susan      2
Alexander      2
Leopold      1
Helen      4
Joseph      3
Pekka      1
Robina      1
Thomas      6
Katherine      3
James      4
(Edith      1
Eleanor      1
Ann      1
Luise      1
(Rosa)      1
Carla      1
Elise      1
Henriette      1
Telma      1
Clear      1
Madeleine      2
Eliina      1
Albina      1
Mathilde      1
Alice      5
Marjorie      2
Thamine      1
Agda      1
Wilhelm      1
Viktor      1
Darwis      1
Gertrude      1
Gladys      1
(Lutie      1
Delia      1
Amelia      2
Hanora      3
Kornelia      1
Stanton      1
Kate      3
Dickinson      1
Aloisia      1
Nora      1
Victor      1
Laura      1
Helmina      1
Sinai      1
Frederic      1
Hilda      1
Albert      2
Marie      2
(Ada      1
Frank      2
Jean      2
Agnes      1
Marion      2
Elsie      2
Annie      3
(Catherine      1
(Mantoura      1
Leontine      1
Stina      1
Edgar      1
Aurora      1
Rosalie      1
Maria      1
Hjalmar      1
Elina      1
Mari      1
Marija      2
Ida      2
Daisy      1
Lyyli      1
Catharina      1
Ernst      1
Charles      3
Percival      1
Lucile      1
Doolina      1
Sidney      2
Benjamin      1
Encarnacion      1
Frederick      5
Helene      1
Edwy      1
Amin      1
Hildur      1
(Hedwig)      1
Jeannie      1
Hudson      1
Kristina      1
Roberta      1
Martin      1
(Amelia      1
Anne      1
Louis      1
Lucy      1
Phyllis      1
Catherine      2
Eva      1
Hedwig      1
Harriet      1
Ingeborg      1
Sigrid      1
Edward      4
Velin      1
(Lucille      1
Emil      1
Guillaume      1
(Marion      1
Nils      1
Ethel      1
Julie      1
Ruth      1
Walter      1
Jessie      1
Anders      1
Gretchen      1
Juha      1
Emma      1
Margit      1
Eugenie      1
Amy      1
Elmer      1
Katie      1
Georgette      1
Manca      1
Saiide      1
Florence      1
Berthe      1
Caroline      1
Edwina      1
Peter      1
Margareth      1
Pieta      1
Elisabeth      1
Joan      1
Samuel      3
of      1
(Mary)      1
Virginia      1
Banoura      1
Stella      1
Mara      1
Harvey      1
Norman      1
Ebba      1
Wendla      1
(Beila)      1
George      2
Antoni      1
Sara      1
Nourelain      1
Ernest      1
Sam      1
Solomon      1
Dorothy      1
(Karolina)      1
Asuncion      1
Richard      1
Adele      1
Gerda      1

In [113]:
# coding=utf-8
import pandas
import re

import sys
sys.path.append("..")
from shad_util import print_answer


data = pandas.read_csv('titanic.csv', index_col='PassengerId')
data['Pclass'] = data['Pclass'].astype(object)

# 1. Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.

sex_counts = data['Sex'].value_counts()
print_answer(1, '{} {}'.format(sex_counts['male'], sex_counts['female']))

# 2. Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров.
# Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен).

surv_counts = data['Survived'].value_counts()
surv_percent = 100.0 * surv_counts[1] / surv_counts.sum()
print_answer(2, "{:0.2f}".format(surv_percent))

# 3. Какую долю пассажиры первого класса составляли среди всех пассажиров?
# Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен).

pclass_counts = data['Pclass'].value_counts()
pclass_percent = 100.0 * pclass_counts[1] / pclass_counts.sum()
print_answer(3, "{:0.2f}".format(pclass_percent))

# 4. Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров.
# В качестве ответа приведите два числа через пробел.

ages = data['Age'].dropna()
print_answer(4, "{:0.2f} {:0.2f}".format(ages.mean(), ages.median()))

# 5. Коррелируют ли число братьев/сестер с числом родителей/детей?
# Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

corr = data['SibSp'].corr(data['Parch'])
print_answer(5, "{:0.2f}".format(corr))

# 6. Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name)
# его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных.
# Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать
# несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.


def clean_name(name):
    # Первое слово до запятой - фамилия
    s = re.search('^[^,]+, (.*)', name)
    if s:
        name = s.group(1)

    # Если есть скобки - то имя пассажира в них
    s = re.search('\(([^)]+)\)', name)
    if s:
        name = s.group(1)

    # Удаляем обращения
    name = re.sub('(Miss\. |Mrs\. |Ms\. )', '', name)

    # Берем первое оставшееся слово и удаляем кавычки
    name = name.split(' ')[0].replace('"', '')

    return name


names = data[data['Sex'] == 'female']['Name'].map(clean_name)
name_counts = names.value_counts()
print_answer(6, name_counts.head(1).index.values[0])

ModuleNotFoundError: No module named 'shad_util'